 <!-- main app container -->
<div class="card m-3">
    <h5 class="card-header">Angular Test Form</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
                    <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                        <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
                    <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
                    </div>
                </div>
           
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="number" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }" />
                <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                    <div *ngIf="f['phoneNumber'].errors['required']">phoneNumber is required</div>
                    <div *ngIf="f['phoneNumber'].errors['phoneNumber']">phoneNumber must be a valid phoneNumber address</div>
                </div>
            </div>
            <div class="form-group col">
                <label>Password</label>
                <input type="password" name="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1" >Register</button>
                <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button> -->
            </div>
        </div>
        </form>
    </div>
</div>
